.basket {
    margin-bottom: rem-calc(67px);
    .catalog-item{
        margin-top: -15px;
        margin-bottom: 15px;
        display: inline-block;
        @media #{$large-up} {
            margin-bottom: 0px;
        }
        @media #{$medium-up} {
            display: block;
            float: left;
        }
        &-image {
            width: 175px;
            height: 175px;
        }
    }
    &-thumbnail {
        float: left;
        margin-bottom: 1rem;
    }
    &-item {
        border-bottom: 1px solid #e3e3e3;
        margin-top: 20px;
        padding-bottom: 20px;
        padding-top: 14px;
        &:first-child {
            margin-top: 0;
        }
        .detail-price {
            margin-bottom: 0;
            &.small span{
                font-size: 16px;
            }
            @media #{$large-up} {
                margin-bottom: 15px;
            }
        }
        &-description {
            margin-bottom: 1rem;
            @media #{$medium-up} {
                margin-left: 205px;
            }
            h5 {
                text-transform: uppercase;
                margin-bottom: 4px;
                font-family: $roboto;
                line-height: 24px;
            }
            p {
                font-weight: normal;
                color: $lighter-gray;
                margin-bottom: 12px;
            }
        }
        &-info {
            p {
                font-size: 12px;
                line-height: 21px;
            }
        }
    }
    &-remove {
        float: right;
        color: #e36054;
        font-size: 18px;
        position: relative;
        &.remove-large {
            display: none;
            @media #{$large-up} {
                display: block;
            }
        }
        &.remove-small {
            @media #{$large-up} {
                display: none;
            }
        }
        &:hover {
            span {
                transform: translateY(0px);
                opacity: 1;
                z-index: 1;
            }
        }
        span {
            font-size: 12px;
            opacity: 0;
            transition: 300ms all ease;
            transform: translateY(5px);
            z-index: -1;
            display: block;
            position: absolute;
            bottom: 100%;
            right: 100%;
            margin-bottom: 7px;
            margin-right: -10px;
            background: $success-color;
            color: $dark-gray;
            white-space: nowrap;
            padding: 0 15px;
            height: 20px;
            line-height: 20px;
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                right: 5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 8px 0;
                border-color: transparent $success-color transparent transparent;
            }
        }
    }
}
