html, body {
    height: auto;
}

main {
    position: relative;
    z-index: 1;
}

main.content {
}

ul {
    ul {
        margin: 0;
    }
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $bitter;
}

h2 {
    font-family: $roboto;
    text-transform: uppercase;
}

iframe {
    max-width: 100%;
}

.block {
    display: block;
    width: 100%;
}

.button {
    text-transform: uppercase;
    font-family: $roboto;
    font-size: 12px;
    min-width: 160px;
    max-width: 300px;
    text-decoration: none;
    &.wide {
        width: 230px;
    }
    .fa {
        font-size: 12px;
        line-height: 9px;
        &.fa-angle-right {
            margin-left: 9px;
        }
        &.fa-shopping-cart {
            margin-right: 19px;
            transform: scale(1.4);
        }
        &.fa-rotate-left {
            margin-left: 7px;
        }
    }
    &.vk {
        background: #507299;
        &:hover {
            background: #415c7a;
        }
    }
    &.facebook {
        background: #3b5998;
        &:hover {
            background: #2f477a;
        }
    }
    &.vk,
    &.facebook {
        .fa {
            font-size: 20px;
            margin-right: 8px;
            @extend %inline-middle;
        }
        span {
            @extend %inline-middle;
        }
    }
    &.green {
        background: #8ab816;
        &:hover {
            background: #779e13;
        }
    }
    &.white {
        background: #fff;
        color: $success-color;
        .fa {
            position: relative;
            transition: 300ms all ease;
        }
        &:hover {
            .fa {
                position: relative;
                transform: translateX(-2px);

            }
        }
    }
    &.outline {
        background: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        &:hover {
            background: $success-color;
            border-color: $success-color;
        }
    }
    &.small {
        font-size: 12px;
        font-weight: bold;
        padding: 0.822rem 0.9rem;
    }
    &.block {
        display: block;
        width: 100%;
    }
    &.loading {
        .fa {
            animation: loading 2s infinite;
        }
    }
}

.focusout {
    color: $lighter-gray;
}

.important {
    color: #f24841;
}

.icon-honey {
    width: 63px;
    height: 33px;
    display: inline-block;
    background: url(../files/img/icon-honey.png);
}

.pagination {
    .fa {
        margin: 0 8px;
    }
    a {
        color: $medium-gray;
        &:hover {
            color: $success-color;
        }
    }
    .unavailable {
        color: $lighter-gray;
    }
    .current {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 6px;
            right: 6px;
            bottom: 0;
            border-bottom: 1px solid $success-color;
        }
    }
    .arrow {
        font-weight: bold;
        margin: 0 rem-calc(40px);
    }
    /*
    a {
        background: transparent !important;
    }
    span {
        color: $pagination-item-color;
        display: block;
        padding: $pagination-item-padding;
        border-radius: $global-radius;
        cursor: default;
    }
    .fa {
        font-size: 17px;
        color: $medium-gray;
    }
    .arrow {
        margin: 0 15px;
        &:not(.unavailable) {
            &:hover {
                .fa {
                    color: $primary-color;
                }
            }
        }
    }*/
}

.dropdown-pane {
    left: -99999px;
}

.tags {
    font-size: 12px;
    margin-bottom: 19px;
    a {
        color: $lighter-gray;
        font-weight: normal;
        &:hover {
            span {
                text-decoration: underline;
            }
        }
        .fa {
            margin-right: 6px;
        }
        span {
            color: $success-color;
        }
    }
}

@media #{$large-up} {
    .right-for-large-only {
        float: right !important;
    }
}
