.catalog {
    margin-bottom: 30px;
    h2 {
        margin-bottom: 25px;
    }
    &-item {
        border: 1px solid rgb(245, 233, 220);
        transition: 350ms all ease;
        margin-bottom: 30px;
        position: relative;
        &:hover {
            border-width: 1px;
            border-color: rgb(245, 233, 220);
            border-style: solid;
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.15);
            .catalog-item-hidden {
                opacity: 1;
            }
            .catalog-item-visible {
                opacity: 0;
            }
        }
        &-image {
            height: 410px;
            @include display-flex(center, center);
        }
        h5 {
            text-transform: uppercase;
            font-family: $roboto;
        }
        &-price {
            color: $success-color;
        }
        &-description {
            border-top: 1px solid rgb(245, 233, 220);
            position: relative;
            .button {
                @include display-flex(center, center);
                margin-bottom: 0;
                height: 90px;
                float: left;
                width: calc(50%);
                border-right: 1px solid #fff;
                position: relative;
                .fa {
                    font-size: 21px;
                    position: relative;
                    top: 0px;
                    transition: 350ms all ease;
                }
                em {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    font-size: 14px;
                    font-style: normal;
                    transition: 450ms all ease;
                    opacity: 0;
                }
                &:hover {
                    background: #212121;
                    .fa {
                        position: relative;
                        top: -15px;
                    }
                    em {
                        opacity: 1;
                        bottom: 20px;
                    }
                }
                &:last-child {
                    border-right: 0;
                    float: right;
                }
            }
        }
        &-visible {
            @include display-flex(center, center);
            height: 90px;
            opacity: 1;
            transition: 350ms all ease;
        }
        &-hidden {
            @include display-flex(center, center);
            height: 90px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0px;
            opacity: 0;
            transition: 350ms all ease;
        }
    }
    &-label {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        width: 64px;
        height: 65px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        display: table;
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 98px 98px 0 0;
            border-color: transparent;
        }
        &.new:before {
            border-color: #bd8cbf transparent transparent transparent;
        }
        &.discount:before {
            border-color: #e15548 transparent transparent transparent;
        }
        span {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            transform: rotate(-46deg);
            letter-spacing: 0.4px;
        }
    }
    &-navigation {
        margin-bottom: rem-calc(77);
        ul {
            display: inline-block;
            li {
                display: inline-block;
                vertical-align: middle;
                a {
                    text-transform: uppercase;
                    font-family: $roboto;
                    font-size: 12px;
                    font-weight: bold;
                }
                &.active a,
                & a:hover {
                    color: $success-color;
                }

                &:not(:last-child) {
                    a:after {
                        content: '//';
                        color: #bfbfbf;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
    &-header {
        font-family: $roboto;
        font-size: 12px;
        margin-bottom: 20px;
        h2 {
            margin-bottom: 20px;
            @media #{$large-up} {
                margin-bottom: 0px;
            }
        }
        a {
            display: inline-block;
            vertical-align: middle;
            margin-right: 13px;
        }
        select {
            display: inline-block;
            vertical-align: middle;
            width: 130px;
            margin-bottom: 0;
        }
        .form {
            padding-top: 5px;
        }
    }
}
