.header {
    padding: 13px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    &.fixed {
        padding-top: 5px;
        .header-main {
            margin-bottom: 5px;
        }
        .header-logo {
            height: 53px;
            img {
            }
        }
    }
    &-main {
        background: $light-gray;
        display: flex;
        flex-wrap: wrap;
        & > .column {
            display: flex;
        }
    }
    &-contacts {
        @include display-flex(flex-start, center);
        .item-contact {
            font-size: 12px;
            margin-right: 9px;
            color: $medium-gray;
            &:hover {
                color: $primary-color;
            }
            .fa {
                font-size: 17px;
                padding-right: 6px;
            }
            &.extreme-contact {
                margin-left: 14px;
            }
        }
    }
    &-logo {
        @include display-flex(center, center);
        transition: 300ms all ease-out;
        height: 120px;
        img {
            transition: 300ms all ease-out;
            padding-left: 3px;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    &-menu {
        @include display-flex(flex-end, center);
        ul {
            margin-bottom: 0;
        }
        li {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 13px;
            font-size: 12px;
            font-family: $roboto;
            .fa {
                margin-right: 8px;
                margin-left: 8px;
            }
            a{
                .fa-chevron-up {
                    display: none;
                }
                &.hover {

                    .fa-chevron-down {
                        display: none;
                    }
                    .fa-chevron-up {
                        display: inline-block;
                    }
                }
            }
        }
        .dropdown-pane {
            border: 0;
            padding: 0;
            width: 60px;
            box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
            &.is-open {
                transform: translateX(-20px) translateY(15px);
            }
            li {
                width: 100%;
                display: block;
                margin: 0;
                text-align: center;
                a {
                    display: block;
                    line-height: 35px;
                    &:hover {
                        background: $success-color;
                        color: #fff;
                    }
                }
            }
        }
        .basket {
            position: relative;
            .count {
                border-radius: 50%;
                background-color: rgb(245, 166, 74);
                width: 16px;
                height: 16px;
                line-height: 16px;
                font-size: 10px;
                font-style: normal;
                text-align: center;
                position: absolute;
                font-family: $roboto;
                right: 100%;
                bottom: 100%;
                margin-bottom: -8px;
                margin-right: -9px;
            }
        }
    }
}

.navigation {
    background: #fff;
    position: relative;
    z-index: 2;
    .menu {
        display: table;
        width: 100%;
        li {
            text-align: center;
            position: relative;

            &.has-submenu {
                &:after {
                    content: '';
                }
            }
            a {
                font-weight: bold;
                font-family: $bitter;
                text-transform: uppercase;
                position: relative;
                &:hover {
                    color: $success-color;
                }
            }
            &:hover {
                .submenu {
                    display: block;
                }
            }
            ul.submenu {
                display: none;
                position: absolute;
                top: 100%;
                background: #f5a64a;
                a {
                    color: #fff;
                    display: block;
                    font-family: $roboto;
                    font-weight: normal;
                    font-size: 14px;
                    text-transform: none;
                    padding: 11px 15px;
                    span {
                        line-height: 18px;
                        display: inline-block;
                    }
                    &:hover {
                        background: #db9442;
                    }
                }
            }
        }
    }
}
