html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

main {
    aside {
        margin-bottom: 4rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.full {
    @extend .row;
    max-width: none;
    padding: 0;
    .column {
        padding: 0;
    }
}

.page{
    &-header {
        margin-bottom: 20px;
        h2 {
            margin-bottom: 0;
        }
    }
}

.innerpage {
    border-top: 2px solid #f3f3f3;
    padding-top: 15px;
}

.heading-additional {
    text-align: center;
    margin-bottom: 4px;
    i {
        margin-bottom: 11px;
    }
    em {
        display: block;
        color: $success-color;
    }
}

.breadcrumbs {
    margin-bottom: 28px;
    li {
        text-transform: none;
        font-family: $roboto;
        a {
            color: $secondary-color;
        }
        span {
            color: $primary-color;
        }
    }
    li:not(:last-child):after {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        margin: 0 1rem;
    }
}

.tabs {
    border: 0;
    &-item {
        padding-left: 43px;
        padding-right: 0px;
        border-top: $input-border;
        h5 {
            font-family: $roboto;
            margin: 16px 0 18px;
            letter-spacing: 0.3px;
            position: relative;
            cursor: pointer;
            &:before {
                font: normal normal normal 18px/1 FontAwesome;
                color: #4c4c4c;
                content: "\f105";
                position: absolute;
                right: 100%;
                padding-right: 18px;
                top: 2px;
            }
            &.active {
                &:before {
                    transform-origin: 0;
                    padding-right: 15px;
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
        p {
            line-height: 26px;
            margin-bottom: 22px;
            letter-spacing: 0.25px;
        }
        ul {
            margin-left: 15px;
            li {
                letter-spacing: 0.25px;
                list-style-type: disc;
                margin-bottom: 10px;
            }
        }
        &:last-child {
            border-bottom: $input-border;
        }
        &-inner {
            margin-top: 21px;
            padding-bottom: 25px;
        }
    }
}

.content-box {
    text-align: center;
    margin-bottom: rem-calc(85);
    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 2.5em;
    }
}

.reveal {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: $roboto;
    border-color: transparent;
    outline-color: transparent;
    h2, p {
        color: #4c4c4c;
        font-family: $roboto;
    }
    h2 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 1.35em;
        text-transform: uppercase;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
    table {
        td {
            text-align: center;
        }
    }
    .button {
        margin-bottom: 15px;
        min-width: auto;
        @media #{$medium-up} {
            margin-bottom: 0;
        }
    }
    .reveal-actions {
        margin-top: 47px;
    }
    &.xsmall {
        @media #{$medium-up} {
            width: 360px;
        }
    }
    &-close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $success-color;
        .fa {
            font-size: 16px;
        }
    }
}
