.order {
    &-table {
        &-th {
            border-bottom: 2px solid #cccccc;
        }
        &-tr {
            width: 100%;
            margin-bottom: 20px;
            padding-top: 15px;
            border-bottom: 1px solid #e3e3e3;
            @media #{$large-up} {
                margin-bottom: 0px;
            }
            .texty {
                padding-top: 4px;
                p {
                    margin-bottom: 5px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
