.simple-menu {
    background: $light-gray;
    h3 {
        height: 55px;
        @extend .shopping-card-header;
        @include display-flex(center, center);
        span {
            line-height: 1.4rem;
            display: inline-block;
        }
    }
    ul {
        li {
            padding: 0 20px;
            a {
                font-size: 16px;
                color: $input-placeholder-color;
                border-bottom: 2px solid #cccccc;
                display: block;
                line-height: rem-calc(55px);
                i {
                    line-height: rem-calc(55px);
                    float: left;
                    opacity: 0;
                    transition: 300ms all ease;
                    width: 10px;
                    transform: translate(5px);
                }
            }
            &.active a,
            & a:hover {
                color: #333333;
                i {
                    width: 20px;
                    opacity: 1;
                    font-size: 16px;
                    color: $success-color;
                    transform: translate(0px);
                }
            }
            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }
}
