doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        main.innerpage
            .row.column
                .breadcrumbs
                    ul
                        li
                            a(href='/') Головна
                        li
                            a(href='/') Блог
                        li
                            span Чому мед корисний?
            .content
                .row.column
                    .article.single
                        h1 Заголовок 1
                        h2 Заголовок 2
                        h3 Заголовок 3
                        h4 Заголовок 4
                        h5 Заголовок 5
                        h6 Заголовок 6
                        br
                        br
                        h1 Заголовок 1
                        img(src="http://placehold.it/1170x490px")
                        br
                        br
                        h2 ЗАГОЛОВОК 2
                        p
                            i Один з найунікальніших продуктів за своїми властивостями є,
                            i безумовно, мед.
                            b При цьому він застосовується
                            | не тільки в медицині, але і в косметології, кулінарії. Варто заглянути в лікувальні книги минулих століть, і ви обов’язково знайдете безліч рецептів, як вилікуватись від тієї чи іншої хвороби задопомогою меду.
                        p
                            b Одним з його унікальних властивостей є довговічність. Ще в часи розкопок гробниці Тутанхамона вчені знайшли посудину з медом. Дослідників вразив той факт, що смакові якості цього продукту зовсім не змінилися.
                        br
                        .blog-cells.full
                            .blog-cell.large-6.column
                                .blog-cell-inner
                                    p Один з найунікальніших продуктів за своїми властивостями є, безумовно, мед. При цьому він застосовується не тільки в медицині, але і в косметології, кулінарії. Варто заглянути в лікувальні книги минулих століть, і ви обов’язково з найдете безліч рецептів, як вилікуватись від тієї чи іншої хвороби за допомогою меду.

                                    p Одним з його унікальних властивостей є довговічність. Ще в часи розкопок гробниці Тутанхамона вчені знайшли посудину з медом. Дослідників вразив той факт, що смакові якості цього продукту зовсім не змінилися.
                            .blog-cell.large-6.column
                                img(src="http://placehold.it/552x402px")
                        br
                        ol
                            li
                                | Після веселого свята, де ви трішки випили зайвого, зазвичай настає похмілля. Але що зробити, щоб позбутися дискомфорту? Спробуйте
                                |     зробити собі бутерброд з медом. Завдяки тому, що він виводить алкоголь з організму, незабаром ваш стан нормалізується.
                            li
                                | Мед не варто нагрівати вище 50 градусів. В іншому випадку він втратить всі свої корисні властивості.
                            li
                                | При купівлі меду приділяйте велику увагу тому, з яких рослин він зібраний. Найбільш корисним є той мед, який зібраний з різних квітів – квітковий мед.
                            li
                                | Також цей продукт необхідно приймати для профілактики. Як виявилося він запобігає багатьом захворюванням, які пов’язані
                                | з ураженням травної та серцево-судинної систем, а також простудним хворобам і іншим.
                        ul
                            li
                                | Ще один цікавий факт про мед - згідно з дослідженнями, для того, щоб виробити 100 грам цього чудового продукту, бджолам необхідно облетіти 100 000 квіток.
                            li
                                | А от раніше в Стародавньому Римі, якщо у вас є мед, то ви могли вільно ним розплатитися або ж виплатити штраф.
                            li
                                | Мед є не тільки профілактичним продуктом від безлічі захворювань, але і допомагає алергікам. Згідно з дослідженнями він сприяє
                                |       розвитку стійкості до пилку.
                            li
                                | Багатьох завжди цікавило питання про те, яким чином пов'язаний медовий місяць і мед. Все дуже просто. Це назва прийшла
                                |       до нас з Норвегії, де молодята повинні були приймати мед та медові напої кожен день.
                            li
                                | А ось саме слово прийшло до нас з Ізраїлю і перекладається як "магічні чари".
                        br
                        .blog-cells.full
                            .blog-cell.large-6.column
                                img(src="http://placehold.it/552x402px")
                            .blog-cell.large-6.column
                                .blog-cell-inner
                                    p Один з найунікальніших продуктів за своїми властивостями є, безумовно, мед. При цьому він застосовується не тільки в медицині, але і в косметології, кулінарії.
                                    p Варто заглянути в лікувальні книги минулих століть, і ви обов’язково з найдете безліч рецептів, як вилікуватись від тієї чи іншої хвороби за допомогою меду.
                                    ol
                                        li
                                            b
                                                i Одним з його унікальних
                                            | властивостей є довговічність.
                                    ul
                                        li Ще в часи розкопок гробниці Тутанхамона вчені знайшли посудину з 		   медом.
                                        li  Дослідників вразив той факт, що смакові якості цього 			   продукту зовсім не змінилися.


        include _includes/_footer.pug
