doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        main.innerpage
            .row.column
                .breadcrumbs
                    ul
                        li
                            a(href='/') Головна
                        li
                            a(href='/') Блог
                        li
                            span Чому мед корисний?
            .content
                .row
                    .large-9.column
                        .article
                            h2 Чому мед корисний?
                            .tags
                                a
                                    .fa.fa-tag
                                    span Поради експерта

                            img(src="http://placehold.it/848x450", alt='')
                            p
                                | Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.
                                | Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.
                            p
                                | Aliquam erat volutpat
                            ul
                                li Exercitation photo booth stumptown tote bag Banksy
                                li Tempor duis single-origin coffee
                                li Magnis dis parturient montes
                                li
                                    | Tonx cray commodo, exercitation you probably haven’t heard of them beard cred. Selfies iPhone Kickstarter, drinking vinegar jean
                                    | shorts fixie consequat flexitarian four loko disrupt dreamcatcher beard craft beer stumptown. Paleo 90′s bitters eu, yr incididunt
                                    | YOLO sapiente fingerstache.
                            p
                                | Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi.
                                | Etiam vitae ipsum magna. Aliquam a elit quis orci tincidunt consectetur. Vivamus et nibh ut dolor lobortis gravida ut ut risus. Nam quis facilisis magna. Nunc imperdiet libero sapien, ut faucibus magna pharetra a. Mauris id comodo dolor.
                                | Donec pellentesque semper velit vel tempor.Pellentesque in erat vitae libero lobortis malesuada id eget nulla. Aliquam eleifend diam non nisi tincidunt, eu auctor ligula sagittis. Aliquam lacus massa, sodales ut vehicula a, interdum eget urna.
                            p
                                |  Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.
                                | Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.
                        .blog-share
                            p Поділитися з друзями
                            a(href='#')
                                i.fa.fa-facebook
                            a(href='#')
                                i.fa.fa-vk
                            a(href='#')
                                i.fa.fa-google-plus
                        .blog-comments
                            img(src='files/img/comments.png')
                    .large-3.column
                        .sidebar
                            h5 Рубрики
                            .sidebar-nav
                                ul
                                    li
                                        a Поради експерта
                                    li
                                        a Про мед
                            h5 Останні публікації
                            .sidebar-articles
                                ul
                                    include _includes/_sidebar_article.pug
                                    include _includes/_sidebar_article.pug
                                    include _includes/_sidebar_article.pug
                                    include _includes/_sidebar_article.pug
                                    include _includes/_sidebar_article.pug
                                    include _includes/_sidebar_article.pug
            include _includes/_blog_cell.pug
            .blog-list.full
                .blog-cells
                    +blog-cell(true, '','', 'files/img/preview-8.jpg')
                    +blog-cell(false, 'свіжий мед - завжди на користь','files/img/icon-man.png')
                .blog-cells
                    +blog-cell(true, '','', 'files/img/preview-9.jpg', 'float-right')
                    +blog-cell(false, 'як обкурювати бджіл?','files/img/icon-spoon.png')

        include _includes/_footer.pug
