doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        main.innerpage
            .row.column
                .breadcrumbs
                    ul
                        li
                            a(href='/') Головна
                        li
                            a(href='#') Мед та органічні продукти
                        li
                            span «jola» яблучний мед
            .row.detail-top
                include _includes/_detail_slider.pug
                include _includes/_detail_main.pug
            .catalog
                h2.text-center Вам може сподобатися
                .row
                    include _includes/_catalog_item.pug
                    +catalog-item('files/img/product-1.jpg','«jola» яблучний мед','large-4','medium-6')
                    +catalog-item('files/img/product-2.jpg','«jola» яблучний мед','large-4','medium-6','new', 'Новинка')
                    +catalog-item('files/img/product-3.jpg','«jola» яблучний мед','large-4','medium-6')
        include _includes/_footer.pug
