doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        main.innerpage
            .row.column
                .breadcrumbs
                    ul
                        li
                            a(href='/') Головна
                        li
                            a(href='#') Мед та органічні продукти
                        li
                            span «jola» яблучний мед
            .row.detail-top
                include _includes/_detail_slider.pug
                include _includes/_detail_main.pug
        include _includes/_footer.pug
