mixin blog-preview(image, h2, icon)
    .blog-preview.large-6.column
        a(href="#")
            img(src=image)
            .blog-preview-inner
                h2
                    span=h2
                    i.icon
                        img(src=icon)
