.detail-left.large-6.column
    .detail-slider
        .detail-slider-main
            .catalog-label.new
                span Новинка
            .detail-slider-for
                div
                    img(src='files/img/product-4.jpg')
                div
                    img(src='http://placehold.it/400x470/ffffff/000000?text=2')
                div
                    img(src='http://placehold.it/400x400/ffffff/000000?text=3')
                div
                    img(src='http://placehold.it/400x400/ffffff/000000?text=4')
                div
                    img(src='http://placehold.it/400x400/ffffff/000000?text=5')
        .detail-slider-nav
            div
                .slider-img
                    img(src='http://placehold.it/110x110/ffffff/000000?text=1')
            div
                .slider-img
                    img(src='http://placehold.it/110x110/ffffff/000000?text=2')
            div
                .slider-img
                    img(src='http://placehold.it/110x110/ffffff/000000?text=3')
            div
                .slider-img
                    img(src='http://placehold.it/110x110/ffffff/000000?text=4')
            div
                .slider-img
                    img(src='http://placehold.it/110x110/ffffff/000000?text=5')
    .detail-share
        p Поділитися з друзями:
        p
            img(src="files/img/social-fake.png")
