.detail-main.large-6.column
    h2 «JOLA» яблучний мед
    p Артикул 012543
    .detail-price
        span 112.00 ₴
        span.old 112.00 ₴
    .detail-actions.form
        .detail-size
            label(for='size') Кількість
            input(type='number',id='size',min='1')
        .detail-buy
            a.button.small(href='#')
                i.fa.fa-shopping-cart
                | ДОДАТИ В КОШИК
            a.button.outline.small(data-open="fastshopping")
                | купити в 1 клік
    .detail-description.tabs
        .tabs-item
            h5 Характеристики
            .tabs-item-inner
                p
                    | Назва меду говорить за себе - цей мед бджоли добувають з нектару польових і лісових квітів, які розцвітають теплою весною. Такий мед дуже багатий за складом, так як містить всі вітаміни, мінерали та мікроелементи цих рослин. <br/>
                    | Травневий мед має складний склад і є найкращим сортом меду як в якості харчової добавки в щоденному раціоні, так і лікарського засобу:
                    | вітаміни групи В - відповідають за метаболізм, дають енергію, зміцнюють нервову систему вітамін С - потужний антиоксидант, уповільнює старіння, прискорює загоєння, укріплює імунітет, бореться з вірусами ферменти інвертаза (з її допомогою бджоли роблять з нектару мед; розщеплює цукор на фруктозу і глюкозу), каталаза (необхідна для захисту клітинних структур) і амілаза (травний фермент) молочна кислота - регулятор обміну в організмі глюконовая кислота активізує обмін речовин, підвищує працездатність м'язів мінерали (залізо, калій, кальцій, фосфор) - необхідні в раціоні людини.
                ul
                    li Вага: 250 гр
                    li Упаковка: Тюбик
        .tabs-item
            h5 Відеоогляд
            .tabs-item-inner
                iframe(width='560', height='315', src='https://www.youtube.com/embed/16SMpTXpuuY', frameborder='0', allowfullscreen='')
        .tabs-item
            h5 Доставка та оплата

#fastshopping.reveal.xsmall(data-reveal='',data-options="showDelay:300; hideDelay:300")
    a.reveal-close(aria-label='Close', data-close)
        i.fa.fa-close
    h2.text-center Купити в один клік
    .form
        input(type="email",placeholder="Введіть Ваш номер", required="required")
        p.form-hint
            | Введіть номер телефону <br> для замовлення в 1 клік
        input.button.block.accented(type="submit",value="Купити")
