.filter
    .filter-title Категорії
    .filter-item
        h5 Вид меду
        .filter-field.checkbox-group
            input#checkbox1(type='checkbox')
            label.checkbox(for='checkbox1')
                span.box
                    i.fa.fa-check
                | Всі
        .filter-field.checkbox-group
            input#checkbox2(type='checkbox')
            label.checkbox(for='checkbox2')
                span.box
                    i.fa.fa-check
                | Сортовий мед
        .filter-field.checkbox-group
            input#checkbox3(type='checkbox')
            label.checkbox(for='checkbox3')
                span.box
                    i.fa.fa-check
                | Медові пасти
        .filter-field.checkbox-group
            input#checkbox4(type='checkbox')
            label.checkbox(for='checkbox4')
                span.box
                    i.fa.fa-check
                | Мед суфлє
        .filter-field.checkbox-group
            input#checkbox55(type='checkbox')
            label.checkbox(for='checkbox55')
                span.box
                    i.fa.fa-check
                | Вересковий мед
        .filter-field.checkbox-group
            input#checkbox5(type='checkbox')
            label.checkbox(for='checkbox5')
                span.box
                    i.fa.fa-check
                | Лавандовий мед
        .filter-field.checkbox-group
            input#checkbox6(type='checkbox')
            label.checkbox(for='checkbox6')
                span.box
                    i.fa.fa-check
                | Манука
    .filter-item
        h5 Виробник
        .filter-field.checkbox-group
            input#checkbox7(type='checkbox')
            label.checkbox(for='checkbox7')
                span.box
                    i.fa.fa-check
                | Всі
        .filter-field.checkbox-group
            input#checkbox8(type='checkbox')
            label.checkbox(for='checkbox8')
                span.box
                    i.fa.fa-check
                | Barrel
        .filter-field.checkbox-group
            input#checkbox9(type='checkbox')
            label.checkbox(for='checkbox9')
                span.box
                    i.fa.fa-check
                | Beeco
        .filter-field.checkbox-group
            input#checkbox10(type='checkbox')
            label.checkbox(for='checkbox10')
                span.box
                    i.fa.fa-check
                | Jola
        .filter-field.checkbox-group
            input#checkbox11(type='checkbox')
            label.checkbox(for='checkbox11')
                span.box
                    i.fa.fa-check
                | Zhen
    .filter-item
        h5 Пакування
        .filter-field.checkbox-group
            input#checkbox12(type='checkbox')
            label.checkbox(for='checkbox12')
                span.box
                    i.fa.fa-check
                | Всі
        .filter-field.checkbox-group
            input#checkbox13(type='checkbox')
            label.checkbox(for='checkbox13')
                span.box
                    i.fa.fa-check
                | Бочка
        .filter-field.checkbox-group
            input#checkbox14(type='checkbox')
            label.checkbox(for='checkbox14')
                span.box
                    i.fa.fa-check
                | Банка
        .filter-field.checkbox-group
            input#checkbox15(type='checkbox')
            label.checkbox(for='checkbox15')
                span.box
                    i.fa.fa-check
                | Тюбик
        .filter-field.checkbox-group
            input#checkbox16(type='checkbox')
            label.checkbox(for='checkbox16')
                span.box
                    i.fa.fa-check
                | Саше
