footer.footer
    nav.navigation
        .row.column
            ul.menu
                li
                    a Головна
                li
                    a Про компанію
                li
                    a Про користь меду
                li
                    a Мед та органічні продукти
                li
                    a Оплата
                li
                    a Доставка
                li
                    a Контакти
    .footer-bottom
        .row
            .medium-6.column.large-text-left
                p Copyright © honey.ua, 2016
            .medium-6.column.large-text-right
                .extreme
                    img(src="files/img/payment.png")
                a.item-contact
                    i.fa.fa-odnoklassniki
                a.item-contact
                    i.fa.fa-twitter
                a.item-contact
                    i.fa.fa-instagram
                a.item-contact
                    i.fa.fa-facebook
                a.item-contact
                    i.fa.fa-vk
                a.item-contact
                    i.fa.fa-youtube-play

    script(src="js/jquery.min.js")
    script(src="js/script.js")
    script(src="js/slick.min.js")
