.header-main.row.expanded.column
    .header-contacts.medium-4.column
        a.item-contact
            i.fa.fa-odnoklassniki
        a.item-contact
            i.fa.fa-twitter
        a.item-contact
            i.fa.fa-instagram
        a.item-contact
            i.fa.fa-facebook
        a.item-contact
            i.fa.fa-vk
        a.item-contact
            i.fa.fa-youtube-play
        a.item-contact.extreme-contact
            i.fa.fa-phone
            | +38 063 365 25 32
    .header-logo.medium-4.column.text-center
        a(href='/')
            img(src='files/img/logo.png')
    .header-menu.medium-4.column.medium-text-right
        ul
            li
                a(data-toggle="drop1")
                    span Укр
                    i.fa.fa-chevron-down
                    i.fa.fa-chevron-up
                ul#drop1.dropdown-pane(data-dropdown)
                    li
                        a(href='#') Укр
                    li
                        a(href='#') Eng

            li
                a
                    i.fa.fa-user
                    span Особистий кабінет
            li
                a
                    i.fa.fa-shopping-basket.basket
                        em.count 12
                    span Кошик

nav.navigation
    .row.column
        ul.menu
            li
                a
                    | Головна
            li
                a Про компанію
            li
                a
                    | про користь меду
                ul.submenu
                    li
                        a
                            span Детальна сторінка про головне
                    li
                        a
                            span Детальна сторінка 2
            li
                a мед та органічні продукти
            li
                a Оплата
            li
                a Доставка
            li
                a Контакти
