doctype html
head
	title a.nuzhin | honey
	meta(charset='utf-8')
	meta(name='author', content='a.nuzhin')
	meta(name='description', content='layout for honey')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='./assets/')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
	link(href='css/style.css', rel='stylesheet', type='text/css')
	link(href='css/slick.css', rel='stylesheet', type='text/css')

