.header-main.row.expanded.column
    .header-contacts.large-4.column.show-for-large
        a.item-contact
            i.fa.fa-odnoklassniki
        a.item-contact
            i.fa.fa-twitter
        a.item-contact
            i.fa.fa-instagram
        a.item-contact
            i.fa.fa-facebook
        a.item-contact
            i.fa.fa-vk
        a.item-contact
            i.fa.fa-youtube-play
        a.item-contact.extreme-contact
            i.fa.fa-phone
            | +38 063 365 25 32
    .header-logo.large-4.column.text-center
        a(href='/')
            img(src='files/img/logo.png', alt='')
    .header-menu.large-4.column.medium-text-right.show-for-large
        ul
            li
                a(data-toggle="drop1")
                    span Укр
                    i.fa.fa-chevron-down
                    i.fa.fa-chevron-up
                ul#drop1.dropdown-pane(data-dropdown)
                    li
                        a(href='#') Укр
                    li
                        a(href='#') Eng

            li
                a
                    i.fa.fa-user
                    span Особистий кабінет
            li
                a.basket-label(data-toggle="drop-basket",data-options="align:right")
                    i.fa.fa-shopping-basket
                        em.basket-label-count 12
                    span Кошик
                div#drop-basket.dropdown-pane.dropdown-basket(data-dropdown)
                    p
                        | В кошику 12 товарів <br>
                        | на сумму 1 015 грн.
                    a.button.block
                        | Оформити замовлення
                        i.fa.fa-angle-right
                    a.button.white.block
                        i.fa.fa-shopping-basket
                        span в кошик

nav.navigation
    .row.column
        .navigation-panel
            a.menu-toggle(href="#")
                i.fa.fa-bars
                i.fa.fa-close
            .navigation-panel-icons.float-right
                a(href='#')
                    i.fa.fa-user
                a.basket-label(data-toggle="drop-basket",data-options="align:right",href='#')
                    i.fa.fa-shopping-basket
                        em.basket-label-count 12
        .navigation-collapse
            ul.medium-horizontal.menu
                li
                    a
                        | Головна
                li
                    a Про компанію
                li
                    a.submenu-link
                        | про користь меду
                    ul.submenu
                        li
                            a
                                span Детальна сторінка про головне
                        li
                            a
                                span Детальна сторінка 2
                li
                    a мед та органічні продукти
                li
                    a Оплата
                li
                    a Доставка
                li
                    a Контакти
                li.lang-link
                    a.active Укр
                    a Eng
