.account-content.order.account-order(id="order")
    .order-table.form
        .order-table-th
            .row
                .medium-2.column
                    h5 №
                .medium-2.column
                    h5 Дата
                .medium-4.column
                    h5 Товари
                .medium-2.column
                    h5 Сума
                .medium-2.column
                    h5 Статус
        .order-table-tr.account-order-item
            .account-order-link.row
                .medium-2.column
                    a.fa.fa-angle-down
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-3.column
                    p
                        | 2 товари
                .medium-2.medium-offset-1.column
                    p.detail-price.small
                        span 198 ₴
                .medium-2.column
                    p.status ДОСТАВЛЕНО

            .account-order-list.row
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴
        .order-table-tr.account-order-item
            .account-order-link.row
                .medium-2.column
                    a.fa.fa-angle-down
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-3.column
                    p
                        | 2 товари
                .medium-2.medium-offset-1.column
                    p.detail-price.small
                        span 198 ₴
                .medium-2.column
                    p.status.focusout В ОБРОБЦІ

            .account-order-list.row
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴

        .order-table-tr.account-order-item
            .account-order-link.row
                .medium-2.column
                    a.fa.fa-angle-down
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-3.column
                    p
                        | 2 товари
                .medium-2.medium-offset-1.column
                    p.detail-price.small
                        span 198 ₴
                .medium-2.column
                    p.status.important СКАСОВАНО

            .account-order-list.row
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴
                .order-table-tr
                    .row
                        .large-6.column
                            .catalog-item
                                .catalog-label.new
                                    span новинка
                                .catalog-item-image
                                    a(href="#")
                                        img(src='http://placehold.it/165x165')
                            .basket-item-description
                                h5
                                    a «beeco» манука мед манука
                                p Артикул 012543
                        .basket-item-info.large-offset-2.large-2.small-3.column
                            p
                                b Кількість
                            p 1
                        .basket-item-info.large-2.column.end
                            p
                                b Ціна
                            .detail-price.small
                                span 112.00 ₴
