.account-content.recover(id="recover")
    form.form
        .form-area
            .row
                .medium-4.column
                    label
                        | Старий пароль *
                        input(type="text", placeholder="Введіть старий пароль", required="required")
            .row
                .medium-4.column
                    label
                        | Новий пароль *
                        input(type="text", placeholder="Введіть новий пароль", required="required")
            .row
                .medium-4.column
                    label
                        | Повторіть новий пароль *
                        input(type="text", placeholder="Введіть новий пароль", required="required")


        .account-content-footer
            input.button.wide(type="submit", value="зберегти зміни")
