.product-item.text-center.medium-4.small-6.column
    a.product-rate.active
        i.fa
    .product-item-image.vertical-box
        a.vertical-middle
            img(src='files/img/product-1.jpg')
    .product-item-description
        h5
            a QUEEN FLORA
        p.secondary Handmade Long Silk Dress
        h5.secondary $637.92
