.sale.row.column
    .sale-image(style="background-image:url(files/img/sale-1.jpg);")
    .sale-description
        .sale-description-inner
            p ТОП ПРОДАЖУ ГРУДНЯ
            h4
                | МЕД АКАЦІЇ <br />
                | ВІД JOLA
            a.button.green
                | купити
                i.fa.fa-angle-right
