li
    a
        img(src='http://placehold.it/120x80/', alt='')
    h6
        a Обкурювання бджіл. Як і коли?
        span.tags
            a
                .fa.fa-tag
                span Поради експерта
